$section-bg: #333;
$text-color: white;

#section01 {
  margin: 0;
  background: $section-bg;
  color: $text-color;
  width: 100%;
  padding: 0;

  container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;

    .col {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  p {
    display: block;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      display: none;
    }

    @media (min-width: 992px) {
      display: inline-block;
    }
  }
}