#section03 {
  position: relative;

  @media (max-width: 768px) {
    top: 50px;
  }

  .swiper-container {
    width: 100%;
    overflow: hidden;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .carousel-caption {
    position: absolute;
    width: 50%;
    top: 35%;
    left: 10%;
    color: #EEEDE0;
    text-align: left;

    @media (max-width: 768px) {
      width: 50%;
    }


    h1 {
      font-size: 50px;

      @media (max-width: 768px) {
        font-size: 25px;
      }

    }

    button {
      color: #EEEDE0;

      @media (max-width: 768px) {
        display: none;
      }

      @media (min-width: 992px) {
        display: inline-block;
      }
    }
  }
}